%h1 Listing parks

%table
  %tr
    %th Name
    %th Location
    %th
    %th
    %th

  - @parks.each do |park|
    %tr
      %td= park.name
      %td= park.location
      %td= link_to 'Show', park
      %td= link_to 'Edit', edit_park_path(park)
      %td= link_to 'Destroy', park, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Park', new_park_path
